/* Imagen */
.img-libro-container {
    max-width: 100%; /* La imagen ocupará todo el ancho de su contenedor */
    height: auto; /* Mantener la relación de aspecto */
    border-radius: 10px; /* Bordes ligeramente redondeados */
  }
  
  /* Estilo del título */
  .info-libro-title {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Estilo común para los textos */
  .info-label {
    color: white;
    font-size: 1.2rem;
  }
  
  .info-text {
    font-size: 1rem;
    color: black;
  }
  
  .info-description {
    color: black;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
  }
  
  /* Botones */
  .btn-primary {
    border: 2px solid rgb(72, 63, 169);
    border-radius: 20px;
    background-color: #483FA9;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #b589ff;
    color: #ffffff;
  }

@media (max-width: 768px) {

    .img-libro-container {
      height: 300px; /* Mantener la relación de aspecto */
      border-radius: 10px; /* Bordes ligeramente redondeados */
      margin-bottom: 10px
    }

    .info-libro-title {
      font-size: 1.5rem;
    }
  
    .info-label {
      font-size: 1rem;
    }
  
    .info-text {
      font-size: 0.8rem;
    }
  
    .info-description {
      padding: 0.5rem;
    }
  }