.cart-container {
    width: 100%;
    padding: 20px;
  }

  .btn-primary {
    border: 2px solid rgb(483FA9);
    border-radius: 20px;
    background-color: #483FA9;
    font-weight: bold;
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease;
  }
  .btn-primary:hover {
    background-color: #b589ff;
    color: #ffffff;
  }
  .cart-title {
    font-size: 36px;
    color: white;
    margin-right: 20px; /* Espacio entre el título y el botón */
  }
  
  .circle-plus-cart {
    width: 50px;  /* Tamaño del círculo */
    height: 50px; /* Mantiene la proporción circular */
    background-color: #483FA9;
    border-radius: 50%;  /* Hace el ícono circular */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;  /* Tamaño del "+" */
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .circle-plus-cart:hover {
    background-color: #b589ff; /* Cambia el color al hacer hover */
  }
  
  .cart-item {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .book-card {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%; 
    max-width: 1200px;
  }
  
  .portada {
    width: 80px; 
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border: black 2px solid;
  }
  
  .book-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .titulo {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    flex: 1;
  }
  
  .btn {
    padding: 8px 12px;
    font-size: 14px;
  }

@media (min-width: 1200px) {
  .cart-title {
      font-size: 3vw; /* Tamaño del título */
      margin-bottom: 40px;
  }

  .circle-plus-cart {
      margin-top: 5px;
      margin-left: 25px; /* Espacio entre el título y el botón */
  }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .cart-title {
    font-size: 2rem; /* Tamaño del título */
    margin-bottom: 20px;
  }

  .circle-plus-cart {
    margin-top: 5px;
    margin-left: 5px; /* Espacio entre el título y el botón */
    width: 35px; /* Tamaño del botón */
    height: 35px;
  }

 
}