<app-nav></app-nav>
<app-search-bar></app-search-bar>

<div class="bg-container-fluid" style = "margin-top: 20px;">
    <div class="row">
        <ng-container *ngFor="let libro of terrorBooks">
            <div class="col-4">
                <img src={{libro.imagen}} alt="Image 1" class="img-fluid img-overlay1" >
            </div>
        </ng-container>
        <!--
        <div class="col-4">
            <img src="assets/reyescaidos.jpeg" alt="Image 1" class="img-fluid img-overlay1" >
        </div>
        <div class="col-4">
            <img src="assets/aleaciondeley.jpeg" alt="Image 2" class="img-fluid img-overlay1">
        </div>
        <div class="col-4">
            <img src="assets/Juego_de_Tronos.jpeg" alt="Image 3" class="img-fluid img-overlay1">
        </div>
    -->
    </div>
</div>

<div class="bg-container-fluid" style="background-image: url(assets/fondo_libros2.jpeg)">
    <div class="row">
        <ng-container *ngFor="let libro of fantasyBooks">
            <div class="col-4">
                <img src={{libro.imagen}} alt="Image 1" class="img-fluid img-overlay1" >
            </div>
        </ng-container>
        <!--
        <div class="col-4">
            <img src="assets/cadaverexquisito.jpeg" alt="Image 1" class="img-fluid img-overlay1" >
        </div>
        <div class="col-4">
            <img src="assets/cuentosmacabros.jpeg" alt="Image 2" class="img-fluid img-overlay1">
        </div>
        <div class="col-4">
            <img src="assets/Misery.jpeg" alt="Image 3" class="img-fluid img-overlay1">
        </div>
    -->
    </div>
</div>

<div class="bg-container-fluid" style="background-image: url(assets/fondo_libros3.jpeg)">
    <div class="row">
        <ng-container *ngFor="let libro of romanceBooks">
            <div class="col-4">
                <img src={{libro.imagen}} alt="Image 1" class="img-fluid img-overlay1" >
            </div>
        </ng-container>

        <!--
        <div class="col-4">
            <img src="assets/julia.jpeg" alt="Image 1" class="img-fluid img-overlay1" >
        </div>
        <div class="col-4">
            <img src="assets/A_dos_metros_de_ti.jpeg" alt="Image 2" class="img-fluid img-overlay1">
        </div>
        <div class="col-4">
            <img src="assets/herbarium.jpeg" alt="Image 3" class="img-fluid img-overlay1">
        </div>
    -->
    </div>
</div>
