<app-nav></app-nav>
 
<div class="bg-container-fluid" style = "margin-top: 20px;">
    <div class="row justify-content-between">
        <ng-container *ngFor="let libro of terrorBooks">
            <div class="col-4 col-md-3 col-xl-2">
                <img src={{libro.imagen}} alt="Image 1" class="img-fluid img-overlay1" >
            </div>
        </ng-container>
    </div>
</div>

<div class="bg-container-fluid" style="background-image: url(assets/fondo_libros2.jpeg)">
    <div class="row justify-content-between">
        <ng-container *ngFor="let libro of fantasyBooks">
            <div class="col-4 col-md-3 col-xl-2">
                <img src={{libro.imagen}} alt="Image 1" class="img-fluid img-overlay1" >
            </div>
        </ng-container>
    </div>
</div>

<div class="bg-container-fluid" style="background-image: url(assets/fondo_libros3.jpeg)">
    <div class="row justify-content-between">
        <ng-container *ngFor="let libro of romanceBooks">
            <div class="col-4 col-md-3 col-xl-2">
                <img src={{libro.imagen}} alt="Image 1" class="img-fluid img-overlay1" >
            </div>
        </ng-container>
    </div>
</div>

<div class="text-center" style="padding: 20px;">
    <!-- Botón para alternar entre modo de edición y guardado -->
    <button *ngIf="isToken" type="button" class="btn save-btn" >
        Editar
    </button>
</div>

