    <div *ngIf="getPrestamosPendientes().length > 0">
        <div class="divider" style = "margin-top: 20px;"></div>
        <h2 class="text-white mb-4" style = "margin-left: 15px;">Libros pendientes:</h2>
        <!-- linea blanca de punta a punta-->
        <div class="divider" style="margin-top: -10px;"></div>
    </div>

    <div class="card mb-3" style="background-color: black; padding: 10px;" *ngIf="getPrestamosPendientes().length > 0">
        <div class="row g-0" *ngFor="let prestamo of getPrestamosPendientes()" > <!-- *ngFor="let prestamo of prestamosUsuario"  -->
            <div class="col-8">
                <div class="card-body;">
                    <h5 class="card-title text-white">{{prestamo.libro.titulo}}</h5>
                    <p></p>
                    <p class="card-text text-white">Fecha de entrega: {{prestamo.fecha_de_entrega}}</p>
                    <p class="card-text text-white">Fecha de vencimiento: {{prestamo.fecha_de_vencimiento}}</p>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-end">
                <img src="{{prestamo.libro.imagen}}" style="width: 15vmax; height: 15vmax;" class="imagenes-cuadradas" alt="Harry Potter y el Cáliz de Fuego">
            </div>
        </div>
    </div>


    <div class="container" *ngIf="getPrestamosPendientes().length === 0">
        <div class="row">
            <div class="col-12">
                <div class="alert-container margin-top: 15%">
                    <div class="notification-icon">
                        <i class="fa-solid fa-bell" style="color: rgb(218, 218, 59); font-size: 170%;"></i>
                    </div>
                    <h2><strong>¡No tienes prestamos pendientes!</strong></h2>
                    <a routerLink="/catalogo" href="#" class="button-primary button" style = "background-color: #483fa9;">¡Agregá uno!</a>
                </div>
            </div>
        </div>
    </div>

