
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 *ngIf="var_id" class="text-center mb-4" style="color: white;">Modificar Usuario</h2>
            <h2 *ngIf="!var_id" class="text-center mb-4" style="color: white;">Crear usuario</h2>
            <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
                <div class="mb-3">
                    <label for="nombre_completo" class="form-label" style="color: white;">Nombre</label>
                    <input type="text" class="form-control" id="nombre_completo" formControlName="nombre_completo" style="color: black;">
                </div>
                <div class="mb-3">
                    <label for="direccion" class="form-label" style="color: white">Direccion</label>
                    <input type="text" class="form-control" id="direccion" formControlName="direccion" style="color: black;">
                </div>
                <div class="mb-3">
                    <label for="dni" class="form-label" style="color: white">DNI</label>
                    <input type="text" class="form-control" id="dni" formControlName="dni" style="color: black;">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label" style="color: white">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email" style="color: black;">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label" style="color: white">Contraseña</label>
                    <input type="text" class="form-control" id="password" formControlName="password" style="color: black;">
                </div>
                <div class="mb-3">
                    <label for="rol" class="form-label" style="color: white">Rol</label>
                    <select class="form-control" id="rol" formControlName="rol" style="color: black;">
                        <option *ngFor="let role of roleOptions" [value]="role.value">{{ role.label }}</option>
                    </select>
                    <!--
                        <input type="text" class="form-control" id="rol" formControlName="rol" style="color: black;">
                    -->
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label" style="color: white">Telefono</label>
                    <input type="text" class="form-control" id="telefono" formControlName="telefono" style="color: black;">
                </div>
                <button type="submit" class="btn btn-primary" *ngIf="!var_id" style="color: white">Crear</button>
                <button type="submit" class="btn btn-primary" *ngIf="var_id" style="color: white">Editar</button>
            </form>
        </div>
    </div>
</div>