<div class="cart-container">
    <div class="cart-header">
        <h1 class="cart-title">Prestamos</h1>
    </div>

    <div class="user-card text-black text-center background-transparent mb-3" style=" margin-top: 5%;;">
        <div class="row g-0" style ="margin-top: 5%; margin-bottom: 5%" *ngFor="let user of arrayUsuarios">
            <div class="col-4">
                <img src="{{user.imagen}}" class="user-photo" alt="Usuario">
            </div>
            <div class="col-8">
                <div class="user-card-body" style="padding: 5%; background-color: white; border-color: #483fa9 ; border-radius: 5%; ">
                    <h5 class="user-card-title">{{user.nombre_completo}}</h5>
                    <p class="user-card-text">{{user.dni}}</p>
                    <p class="user-card-text">Préstamos: {{ countPrestamosByUser(user.id_usuario) }}</p>
                    <p class="user-card-text">Préstamos Vencidos: {{countPrestamosVencidosByUser(user.id_usuario) }}</p>
                    <a routerLink="/info_prestamo/{{user.id_usuario}}" class="button-primary button" style = "background-color: #483fa9;">Ver más</a>
                </div>
            </div>
        </div>
    </div>
    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" [itemsPerPage]="itemsPerPage" (goToPage)="goToPage($event)"></app-pagination>
</div>