<div class="container d-flex justify-content-center">
    <div class="row flex-row d-flex justify-content-center">
        <div class="col-1 d-flex justify-content-center icon-container ms-2">
            <div class="p-3 ">
                <a href="#"><i class="fab fa-whatsapp " style="color:rgb(21, 196, 5); font-size: 25px ;  "></i></a>
            </div>
        </div>
        <div class="col-1 d-flex justify-content-center icon-container ms-2">
            <div class="p-3">
                <a href="#"><i class="fab fa-instagram" style="color:rgb(193, 53, 132); font-size: 25px; "></i></a>
            </div>
        </div>
        <div class="col-1 d-flex justify-content-center icon-container ms-2">
            <div class="p-3">
                <a href="#"><i class="fas fa-envelope" style="color:rgb(224, 42, 42); font-size: 25px; "></i></a>
            </div>
        </div>
    </div>
