<app-nav></app-nav>
<app-search-bar (searchQueryChange)="onSearchQueryChange($event)"></app-search-bar>

<div class="container-fluid images-container">
    <div class="row justify-content-between">
        <div class="col-5"></div>
        <div class="col-4">  
            <h1 class="text-center mb-1" style="color: white;">Catalogo</h1>
            <div type="submit" class="circle-plus-catalogo" *ngIf="isAdmin" routerLink="/alta_libros">
              <i class="fa-solid fa-plus"></i>
            </div>
        </div>
        <div class="col-3"></div>
        
        <ng-container *ngFor="let libro of filteredBooks">
            <div class="col-4 col-md-3 col-xl-2">
                <div class="image-wrapper-catalogo">
                    <div *ngIf="isUser" class="circle-plus" (click)="addToCart(libro)"><h2>+</h2></div>
                    <!--<div *ngIf="isAdmin" class="edit-button" routerLink="/ver_libro/{{libro.id_libro}}" href="#">Editar</div>-->
                    <img [src]="libro.imagen" alt="{{libro.titulo}}" class="img-fluid img-overlay1" routerLink="/ver_libro/{{libro.id_libro}}">
                </div>
                <h6 class="image-title">{{libro.titulo}}</h6>
            </div>
        </ng-container>

        <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" [itemsPerPage]="itemsPerPage" (goToPage)="goToPage($event)"></app-pagination>
    </div>

</div>
