.circle-plus {
    position: absolute;
    top: 10px; /* Distancia desde el borde superior */
    right: 10px; /* Distancia desde el borde derecho */
    width: 40px; /* Tamaño del botón */
    height: 40px;
    background-color: #483FA9;
    border-radius: 50%; /* Hace el ícono circular */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; /* Ajusta el tamaño del texto del ícono */
    color: white;
    font-weight: bold;
    cursor: pointer;
    z-index: 10; /* Asegura que esté por encima de la imagen */
}

.circle-plus:hover {
    background-color: #b589ff; /* Cambia el color al hacer hover */
}

.edit-button {
    position: absolute;
    bottom: 10px; /* Distancia desde el borde inferior */
    left: 10px; /* Distancia desde el borde izquierdo */
    width: 8vw; /* Ajusta el tamaño del botón relativo al ancho del viewport */
    height: 4vw; /* Hace que el botón sea cuadrado y escalable */
    background-color: #483FA9;
    color: white;
    border-radius: 10vmin; /* Hace que el botón sea circular */
    display: flex; /* Para centrar el contenido dentro del botón */
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */
    font-size: 4vmin; /* Tamaño del texto ajustable con la pantalla */
    font-weight: bold;
    cursor: pointer; /* Para que parezca clickeable */
    z-index: 10; /* Asegúrate de que esté por encima de otros elementos */
    text-align: center; /* Centra el texto */
}

.edit-button:hover {
    background-color: #B589FF; /* Cambia el color al hacer hover */
}

/* Contenedor de la imagen y el ícono */
.image-wrapper-catalogo {
    position: relative;
    display: inline-block;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    max-width: 300px; /* Ajusta el tamaño máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor */
}

/* Contenedor de imágenes */
.images-container {
    margin-top: 5px; /* Espacio superior del contenedor */
    padding: 30px; /* Espacio interno alrededor del contenedor */
    max-width: 100%; /* Asegura que el contenedor no exceda el tamaño del contenedor padre */
}

/* Imágenes dentro del contenedor */
.img-overlay1 {
    width: 100%; /* Las imágenes ocuparán todo el ancho del contenedor */
    height: 200px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen para cubrir el área del contenedor sin distorsión */
    border-radius: 15px; /* Bordes redondeados para las imágenes */
    z-index: 1;
}

.image-title {
    color: white;
    margin-top: 10px;
    font-size: 4vw; /* Ajusta el tamaño de la letra a 4% del ancho de la ventana */
}

/* Opcional: puedes agregar un estilo de min y max para controlar el tamaño */
@media (max-width: 600px) {
    .image-title {
        font-size: 3vw; /* Más pequeño en pantallas más pequeñas */
    }
}

@media (min-width: 1200px) {
    .image-title {
        font-size: 2vw; /* Más grande en pantallas grandes */
    }
}

.catalogo-title {
    color: white; 
    text-align: center; 
    font-size: 36px; 

}

.circle-plus-catalogo {
    margin-left: 20px;
    width: 50px;  /* Tamaño del círculo */
    height: 50px; /* Mantiene la proporción circular */
    background-color: #483FA9;
    border-radius: 50%;  /* Hace el ícono circular */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;  /* Tamaño del "+" */
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .circle-plus-catalogo:hover {
    background-color: #b589ff; /* Cambia el color al hacer hover */
  }