<div class="ic-container-fluid">
    <div class="row" style="margin-top: 40px;">
        <!-- Columna para el ícono de las 3 rayas (menú) -->
        <div class="col-1 text-start">
            <i class="fa-solid fa-bars" style="color: white; font-size: 170%;"></i>
        </div>
        <!-- Columna vacía para separación -->
        <div class="col-3"></div>
        <!-- Columna para los íconos de usuario y home-->
        <div class="col-8 text-end">
            <a href="index.html" class="fa-solid fa-home" style="color: white; font-size: 170%; margin-right: 15px;"></a>
            <i class="fa-solid fa-user" style="color: white; font-size: 170%;"></i>
        </div>
    </div>
</div>


<div class="container-fluid" style="margin-left:10px">
    <div class="row d-flex" style="margin: 15px -20px 0px -5px;">
        <div class="col-12">
            <div class="search-bar">
                <i class="fas fa-search" style="padding: 0.5vw; color: white;"></i>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid images-container ">
    <div class="row mb-4">
        <div class="col-4">
            <img src="assets/IT.jpeg" alt="Image 1" class="img-fluid img-overlay1">
        </div>
        <div class="col-4">
            <img src="assetsMisery.jpeg" alt="Image 2" class="img-fluid img-overlay1">
        </div>
        <div class="col-4">
            <img src="assets/El_Resplandor.jpeg" alt="Image 3" class="img-fluid img-overlay1">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4">
            <img src="assets/Fuego_y_Sangre.jpeg" alt="Image 4" class="img-fluid img-overlay1">
        </div>
        <div class="col-4">
            <img src="assets/Juego_de_Tronos.jpeg" alt="Image 5" class="img-fluid img-overlay1">
        </div>
        <div class="col-4">
            <img src="assets/El_Hijo_de_Neptuno.jpeg" alt="Image 6" class="img-fluid img-overlay1">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4">
            <img src="assets/Romper_el_Circulo.jpeg" alt="Image 7" class="img-fluid img-overlay1">
        </div>
        <div class="col-4">
            <img src="assets/A_dos_metros_de_ti.jpeg" alt="Image 8" class="img-fluid img-overlay1">
        </div>
        <div class="col-4">
            <img src="assets/Orgullo_y_Prejuiciojpeg" alt="Image 9" class="img-fluid img-overlay1">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4">
            <img src="assets/Harry_Potter_4.jpeg" alt="Image 10" class="img-fluid img-overlay1">
        </div>
        <div class="col-4">
            <img src="assets/Maze_Runner_1.jpg" alt="Image 11" class="img-fluid img-overlay1">
        </div>
        <div class="col-4">
            <img src="assets/Percy_Jackson_1.jpg" alt="Image 12" class="img-fluid img-overlay1">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4">
            <img src="assets/Viaje_al_Centro_de_la_Tierra.jpeg" alt="Image 13" class="img-fluid img-overlay1">
        </div>
        <div class="col-4">
            <img src="assets/El_Camino_de_los_Reyes.jpeg" alt="Image 14" class="img-fluid img-overlay1">
        </div>
        <div class="col-4">
            <img src="assets/La_Odisea.jpeg" alt="Image 15" class="img-fluid img-overlay1">
        </div>
    </div>