.circle-plus {
    position: absolute;
    top: 10px; /* Distancia desde el borde superior */
    width: 40px; /* Tamaño del botón */
    height: 40px;
    background-color: #483FA9;
    border-radius: 50%; /* Hace el ícono circular */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; /* Ajusta el tamaño del texto del ícono */
    color: white;
    font-weight: bold;
    cursor: pointer;
    z-index: 10; /* Asegura que esté por encima de la imagen */
}

.circle-plus:hover {
    background-color: #b589ff; /* Cambia el color al hacer hover */
}

.edit-button {
    position: absolute;
    bottom: 10px; /* Distancia desde el borde inferior */
    left: 10px; /* Distancia desde el borde izquierdo */
    width: 8vw; /* Ajusta el tamaño del botón relativo al ancho del viewport */
    height: 4vw; /* Hace que el botón sea cuadrado y escalable */
    background-color: #483FA9;
    color: white;
    border-radius: 10vmin; /* Hace que el botón sea circular */
    display: flex; /* Para centrar el contenido dentro del botón */
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */
    font-size: 4vmin; /* Tamaño del texto ajustable con la pantalla */
    font-weight: bold;
    cursor: pointer; /* Para que parezca clickeable */
    z-index: 10; /* Asegúrate de que esté por encima de otros elementos */
    text-align: center; /* Centra el texto */
}

.edit-button:hover {
    background-color: #B589FF; /* Cambia el color al hacer hover */
}

/* Contenedor de la imagen y el ícono */
.image-wrapper-catalogo {
    position: relative;
    display: inline-block;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    margin: 0 auto; /* Centra el contenedor */
    
}  

/* Contenedor de imágenes */
.images-container {
    margin-top: 5px; /* Espacio superior del contenedor */
    padding: 30px; /* Espacio interno alrededor del contenedor */
    max-width: 300%; /* Asegura que el contenedor no exceda el tamaño del contenedor padre */
    
}

/* Imágenes dentro del contenedor */
.img-overlay1 {
    width: 100%; /* Las imágenes ocuparán todo el ancho del contenedor */
    height: 300px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen para cubrir el área del contenedor sin distorsión */
    border-radius: 15px; /* Bordes redondeados para las imágenes */
    z-index: 1;
}

.image-title {
    color: white;
    margin-top: 10px;
    font-size: 4vw; /* Ajusta el tamaño de la letra a 4% del ancho de la ventana */
    text-align: center;
    margin-bottom: 20px;
}

.catalogo-title {
    color: white; /* Color del texto */
    margin: 0; /* Sin márgenes adicionales */
    white-space: nowrap; /* Evita que el texto se corte */
}

.circle-plus-catalogo {
    width: 40px;  /* Tamaño del círculo */
    height: 40px; /* Mantiene la proporción circular */
    background-color: #483FA9;
    border-radius: 50%;  /* Hace el ícono circular */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;  /* Tamaño del ícono */
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Suaviza el cambio de color */
}

  .circle-plus-catalogo:hover {
    background-color: #b589ff; /* Cambia el color al hacer hover */
  }

  @media (min-width: 1200px) {
    .catalogo-title {
        font-size: 3vw; /* Tamaño del título */
        margin-bottom: 40px;
    }
    .image-title {
        font-size: 2vw; /* Más grande en pantallas grandes */
    }

    .img-overlay1 {
        border-radius: 30px; /* Bordes redondeados para las imágenes */
    }
    .circle-plus {
        width: 50px; /* Tamaño del botón */
        height: 50px;
        font-size: 1.5rem; /* Ajusta el tamaño del texto del ícono */
    }
    .circle-plus-catalogo {
        margin-top: 5px;
        margin-left: 40px; /* Espacio entre el título y el botón */
    }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .catalogo-title {
        font-size: 2rem; /* Tamaño del título */
        align-items: center;
        margin-bottom: 20px;
    }

    .img-overlay1 {
        height: 200px; /* Reduce la altura de la imagen en pantallas pequeñas */
    }

    .images-container {
        padding: 15px; /* Reduce el padding */
    }

    .image-title {
        font-size: 3vw; /* Más pequeño en pantallas más pequeñas */
    }
    .circle-plus {
        width: 30px; /* Tamaño del botón */
        height: 30px;
        font-size: 1.5rem; /* Ajusta el tamaño del texto del ícono */
    }

    .circle-plus-catalogo {
        margin-left: 20px; /* Espacio entre el título y el botón */
    }
}

@media (max-width: 480px) {
    .catalogo-title {
        font-size: 2rem; /* Tamaño del título */
        margin-bottom: 20px;
    }

    .img-overlay1 {
        height: 150px; /* Aún más pequeña en pantallas muy pequeñas */
    }

    .images-container {
        padding: 10px; /* Ajusta el padding para pantallas muy pequeñas */
    }
}