<app-nav></app-nav>
<app-search-bar (searchQueryChange)="onSearchQueryChange($event)"></app-search-bar>

<div class="container-fluid images-container">
    <div class="row justify-content-between">
        <ng-container *ngFor="let libro of filteredBooks">
            <div class="col-4 col-md-3 col-xl-2">
                <div class="image-wrapper-catalogo">
                    <div *ngIf="isUser" class="circle-plus" (click)="addToCart(libro)"><h2>+</h2></div>
                    <div *ngIf="isAdmin" class="edit-button" routerLink="/ver_libro/{{libro.id_libro}}" href="#">Editar</div>
                    <img [src]="libro.imagen" alt="{{libro.titulo}}" class="img-fluid img-overlay1">
                </div>
                <h6 class="image-title">{{libro.titulo}}</h6>
            </div>
        </ng-container>

        <app-pagination (currentPage)="currentPage", (totalPages)="totalPages", (itemsPerPage)="itemsPerPage", (goToPage)="goToPage"></app-pagination>
    </div>

</div>
