<div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-auto" style="margin-top: 40px;">
        <a href="registro.html" class="btn btn-primary" style="background: #483FA9; color: white; font-size: small; text-decoration: none;">Registrarse</a>
      </div>
      <div class="col-auto" style="margin-top: 40px;">
        <a href="login.html" class="btn btn-primary" style="background: #483FA9; color: white; font-size: small; text-decoration: none;">Iniciar Sesión</a>
      </div>
      <div class="col-auto" style="margin-top: 40px; margin-left: 40px;">
        <i class="fa-solid fa-user" style="color: white; font-size: 170%;"></i>
      </div>
    </div>
</div>
      
<div class="container-fluid" style="margin-left:10px">
    <div class="row d-flex" style="margin: 15px -20px 0px -5px;">
        <div class="col-12">
            <div class="search-bar">
                <i class="fas fa-search" style="padding: 0.5vw; color: white;"></i>
            </div>
        </div>
    </div>
</div>