<app-nav></app-nav>
<app-search-bar></app-search-bar>

<div class="cart-container">
    <div class="cart-header">
        <h1 class="cart-title">Valoraciones</h1>
        <div *ngIf="var_rol == 'user'" class="circle-plus-cart" routerLink="/add-review"><h2>+</h2></div>
    </div>

    <div>
        <h1 style="color: white; text-align: center; font-size: 15px">Total de Valoraciones: {{ paginatedValoraciones.length }}</h1>
    </div>

    <div *ngIf="paginatedValoraciones.length > 0; else sinValoraciones">
        <div class="cart-item" *ngFor="let valoracion of paginatedValoraciones;">
            <div class="book-card">
                <p class="book-title">{{ valoracion.libro.titulo }}</p>
                <div class="book-content">
                    <div class="book-info">
                        <div class="user-info">
                            <img [src]="valoracion.usuario.imagen" class="author-img">
                        </div>
                        <div>
                            <h6 style="font-weight: bold">Valoración:</h6>
                            <p class="Valoracion">{{ valoracion.comentario }}</p>
                        </div>
                        <div>
                            <h6 style="font-weight: bold">Calificación:</h6>
                            <div class="rating">
                                <span *ngFor="let star of getStars(valoracion.valoracion); let i = index">
                                    <i class="fa-solid fa-star" [ngClass]="{'stars': i < valoracion.valoracion}"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <img [src]="valoracion.libro.imagen" alt="Portada de {{ valoracion.libro.titulo }}" class="portada">
                </div>
            </div>
        </div>
    </div>

    <ng-template #sinValoraciones>
        <h1 style="color: white; text-align: center; font-size: 15px">No hay Valoraciones de este libro</h1>
    </ng-template>

    <!-- Pagination controls -->
    <div class="row mt-4">
        <div class="col-12 d-flex justify-content-between align-items-center pagination-controls">
            <button class="btn btn-primary" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
            <span>Página {{ currentPage }} de {{ totalPages }}</span>
            <button class="btn btn-primary" (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente</button>
        </div>
    </div>
</div>
