<app-nav [var_rol]="var_rol" [var_id]="var_id"></app-nav>
<app-search-bar></app-search-bar>

<div class="cart-container">
    <div class="cart-header">
        <h1 class="cart-title">Valoraciones</h1>
        <div class="circle-plus-cart" routerLink="/add-review"><h2>+</h2></div>
    </div>

<div class="cart-item" *ngFor="let item of cartItems; let i = index">
    <div class="book-card">
        <p class="book-title">{{ item.titulo }}</p>
        <div class="book-content">
            <div class="book-info">
                <div class="user-info">
                    <img [src]="item.avatar" alt="Avatar de {{ item.usuario }}" class="author-img">
                    <div class="author-name">{{ item.usuario }}</div>
                </div>
                <p class="Valoracion">Valoración: {{ item.valoracion }}</p>
                <p class="Calificación">Calificación: {{ item.calificacion }}</p>
            </div>
            <img [src]="item.portada" alt="Portada de {{ item.titulo }}" class="portada">
        </div>
    </div>
</div>

</div>
