<!--
<div class="container d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
        <div class="col-12 text-center d-flex justify-content-center">
            <h1 style="color: white; margin-top: 30%; font-size: 45px;">Register</h1>
            <i class="fa-solid fa-user" style="color: white; margin-top: 120px;"></i>
        </div>
    </div>
</div>
-->
<div class="row d-flex justify-content-center">
    <div class="col-12 text-center mt-3">
        <h1 style="color: white; font-size: 45px;">Register</h1>
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-12 d-flex justify-content-center">
        <i class="fa-solid fa-user m-0" style="color: white; margin-top: 120px;"></i>
    </div>
</div>

<div class="container mt-5">
    <form [formGroup]="userForm" (ngSubmit)="submit()">
        <div class="row mb-4 justify-content-between">
            <div class="col-4"></div>
            <div class="col-4 d-flex justify-content-center">
                <div class="d-flex align-items-center" style="gap: 20px;">
                    <i class="fa-solid fa-envelope" style="color: white; font-size: 40px;"></i>
                    <div class="p-2" style="margin-right: 40px; background-color: #84b1ec; border-radius: 30px;">
                        <input
                            type="email"
                            formControlName="email"
                            class="form-control"
                            placeholder="Correo"
                            style="color: #000000; background-color: transparent; border: none; font-size: 100%;">
                    </div>
                </div>
            </div>
            <div class="col-4" *ngIf="!showEmailError()"></div>
            <div class="col-4" *ngIf="showEmailError()">
                <small *ngIf="userForm.get('email')?.errors?.['required']" style="color: white;">El email es requerido.</small>
                <small *ngIf="userForm.get('email')?.errors?.['email']" style="color: white;">El email no es válido.</small>
            </div>
        </div>

        <div class="row mb-4 d-flex justify-content-between">
            <div class="col-4"></div>
            <div class="col-4 d-flex justify-content-center">
                <div class="d-flex align-items-center" style="gap: 20px;">
                    <i class="fa-solid fa-user-circle" style="color: white; font-size: 40px;"></i>
                    <div class="p-2" style="margin-right: 40px; background-color: #84b1ec; border-radius: 30px;">
                        <input
                            type="text"
                            formControlName="Nombre"
                            class="form-control"
                            placeholder="Nombre"
                            style="color: #000000; background-color: transparent; border: none; font-size: 100%;">
                    </div>
                </div>
            </div>
            <div class="col-4" *ngIf="!showNameError()"></div>
            <div class="col-4" *ngIf="showNameError()">
                <small *ngIf="userForm.get('Nombre')?.errors?.['required']" style="color: white;">El nombre es requerido.</small>
            </div>
        </div>

        <div class="row mb-4 d-flex justify-content-between">
            <div class="col-4"></div>
            <div class="col-4 d-flex justify-content-center">
                <div class="d-flex align-items-center" style="gap: 20px;">
                    <i class="fa-solid fa-id-card" style="color: white; font-size: 40px;"></i>
                    <div class="p-2" style="margin-right: 40px; background-color: #84b1ec; border-radius: 30px;">
                        <input
                            type="text"
                            formControlName="DNI"
                            class="form-control"
                            placeholder="DNI"
                            style="color: #000000; background-color: transparent; border: none; font-size: 100%;">
                    </div>
                </div>
            </div>
            <div class="col-4" *ngIf="!showDniError()"></div>
            <div class="col-4" *ngIf="showDniError()">
                <small *ngIf="userForm.get('DNI')?.errors?.['required']" style="color: white;">El DNI es requerido.</small>
            </div>
        </div>

        <div class="row mb-4 d-flex justify-content-between">
            <div class="col-4"></div>
            <div class="col-4 d-flex justify-content-center">
                <div class="d-flex align-items-center" style="gap: 20px;">
                    <i class="fa-solid fa-home" style="color: white; font-size: 40px;"></i>
                    <div class="p-2" style="margin-right: 40px; background-color: #84b1ec; border-radius: 30px;">
                        <input
                            type="text"
                            formControlName="Direccion"
                            class="form-control"
                            placeholder="Direccion"
                            style="color: #000000; background-color: transparent; border: none; font-size: 100%;">
                    </div>
                </div>
            </div>
            <div class="col-4" *ngIf="!showAdressError()"></div>
            <div class="col-4" *ngIf="showAdressError()">
                <small *ngIf="userForm.get('Direccion')?.errors?.['required']" style="color: white;">La dirección es requerida.</small>
            </div>
        </div>

        <div class="row mb-4 d-flex justify-content-between">
            <div class="col-4"></div>
            <div class="col-4 d-flex justify-content-center">
                <div class="d-flex align-items-center" style="gap: 20px;">
                    <i class="fa-solid fa-calendar-day" style="color: white; font-size: 40px;"></i>
                    <div class="p-2" style="margin-right: 40px; background-color: #84b1ec; border-radius: 30px;">
                        <input
                            type="date"
                            formControlName="Fecha"
                            class="form-control"
                            placeholder="Fecha"
                            style="color: #000000; background-color: transparent; border: none; font-size: 100%;">
                    </div>
                </div>
            </div>
            <div class="col-4" *ngIf="!showDateError()"></div>
            <div class="col-4" *ngIf="showDateError()">
                <small *ngIf="userForm.get('Fecha')?.errors?.['required']" style="color: white;">La fecha es requerida.</small>
            </div>
        </div>

        <div class="row mb-4 d-flex justify-content-between">
            <div class="col-4"></div>
            <div class="col-4 d-flex justify-content-center">
                <div class="d-flex align-items-center" style="gap: 20px;">
                    <i class="fa-solid fa-phone" style="color: white; font-size: 40px;"></i>
                    <div class="p-2" style="margin-right: 40px; background-color: #84b1ec; border-radius: 30px;">
                        <input
                            type="tel"
                            formControlName="Telefono"
                            class="form-control"
                            placeholder="Telefono"
                            style="color: #000000; background-color: transparent; border: none; font-size: 100%;">
                    </div>
                </div>
            </div>
            <div class="col-4" *ngIf="!showPhoneError()"></div>
            <div class="col-4" *ngIf="showPhoneError()">
                <small *ngIf="userForm.get('Telefono')?.errors?.['required']" style="color: white;">El teléfono es requerido.</small>
            </div>
        </div>

        <div class="row mb-4 d-flex justify-content-between">
            <div class="col-4"></div>
            <div class="col-4 d-flex justify-content-center">
                <div class="d-flex align-items-center" style="gap: 20px;">
                    <i class="fa-solid fa-lock" style="color: white; font-size: 40px;"></i>
                    <div class="p-2" style="margin-right: 40px; background-color: #84b1ec; border-radius: 30px;">
                        <input
                            type="password"
                            formControlName="password"
                            class="form-control"
                            placeholder="Contraseña"
                            style="color: #000000; background-color: transparent; border: none;">
                    </div>
                </div>
            </div>
            <div class="col-4" *ngIf="!showPasswordError()"></div>
            <div class="col-4" *ngIf="showPasswordError()">
                <small *ngIf="userForm.get('password')?.errors?.['required']" style="color: white;">La contraseña es requerida.</small>
                <small *ngIf="userForm.get('password')?.errors?.['minlength']" style="color: white;">La contraseña debe tener al menos 6 caracteres.</small>
            </div>
        </div>

        <div class="row mb-4 d-flex justify-content-between">
            <div class="col-4"></div>
            <div class="col-4 d-flex justify-content-center">
                <div class="d-flex align-items-center" style="gap: 20px;">
                    <i class="fa-solid fa-lock" style="color: white; font-size: 40px;"></i>
                    <div class="p-2" style="margin-right: 40px; background-color: #84b1ec; border-radius: 30px;">
                        <input
                            type="password"
                            formControlName="confirmPassword"
                            class="form-control"
                            placeholder="Confirmar Contraseña"
                            style="color: #000000; background-color: transparent; border: none;">
                    </div>
                </div>
            </div>
            <div class="col-4" *ngIf="!showConfirmPasswordError()"></div>
            <div class="col-4" *ngIf="showConfirmPasswordError()">
                <small *ngIf="userForm.get('confirmPassword')?.errors?.['required']" style="color: white;">La confirmación de la contraseña es requerida.</small>
            </div>
            <div *ngIf="userForm.errors?.['mismatch']">
                <small style="color: white;">Las contraseñas no coinciden.</small>
            </div>
        </div>
    </form>
</div>

<div class="container d-flex justify-content-center mt-5">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <button type="button" (click)="submit()" class="register-btn">Registrarse</button>
        </div>
    </div>
</div>

<app-redes-sociales></app-redes-sociales>
