<div class="container d-flex justify-content-center "> 
    <div class="row">
        <div class="col-12 text-center">
            <h1 style="color: white; margin-top: 30%; font-size: 45px;">Register</h1>
        </div>
    </div>
    
   <app-icono-usuario></app-icono-usuario>
</div>

<div class="container mt-5 ">
    <form [formGroup]="userForm">  
        <div class="row mb-4">  
            <div class="container d-flex justify-content-center">
                <div class="d-flex align-items-center" style="gap: 20px;"> <!-- Aumento el gap aquí -->
                    <!-- Ícono -->
                    <i class="fa-solid fa-envelope" style="color: white; font-size: 40px;"></i>

                    <!-- Input -->
                    <div class="p-2" style="margin-right: 40px ;background-color: #84b1ec; border-radius: 30px;">
                        <input 
                        type="email" 
                        formControlName="email" 
                        class="form-control" 
                        placeholder="Correo" 
                        style="color: #000000; background-color: transparent; border: none; font-size: 100%;">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mb-4">  
            <div class="container d-flex justify-content-center">
                <div class="d-flex align-items-center" style="gap: 20px;"> <!-- Aumento el gap aquí -->
                    <!-- Ícono -->
                    <i class="fa-solid fa-user-circle" style="color: white; font-size: 40px;"></i>

                    <!-- Input -->
                    <div class="p-2" style="margin-right: 40px ;background-color: #84b1ec; border-radius: 30px;">
                        <input 
                        type="text" 
                        formControlName="name" 
                        class="form-control" 
                        placeholder="Nombre" 
                        style="color: #000000; background-color: transparent; border: none; font-size: 100%;">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">  
            <div class="container d-flex justify-content-center">
                <div class="d-flex align-items-center" style="gap: 20px;"> <!-- Aumento el gap aquí -->
                    <!-- Ícono -->
                    <i class="fa-solid fa-id-card" style="color: white; font-size: 40px;"></i>

                    <!-- Input -->
                    <div class="p-2" style="margin-right: 40px ;background-color: #84b1ec; border-radius: 30px;">
                        <input type="text" formControlName="DNI" class="form-control" placeholder="DNI" style="color: #000000; background-color: transparent; border: none; font-size: 100%;">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">  
            <div class="container d-flex justify-content-center">
                <div class="d-flex align-items-center" style="gap: 20px;"> <!-- Aumento el gap aquí -->
                    <!-- Ícono -->
                    <i class="fa-solid fa-home" style="color: white; font-size: 40px;"></i>

                    <!-- Input -->
                    <div class="p-2" style="margin-right: 40px ;background-color: #84b1ec; border-radius: 30px;">
                        <input type="text" formControlName="Direccion" class="form-control" placeholder="Direccion" style="color: #000000; background-color: transparent; border: none; font-size: 100%;">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="container d-flex justify-content-center">
                <div class="d-flex align-items-center" style="gap: 20px;"> <!-- Aumento el gap aquí -->
                    <i class="fa-solid fa-calendar-day" style="color: white; font-size: 40px;"></i>

                    <div class="p-2" style="margin-right: 40px; background-color: #84b1ec; border-radius: 30px;">
                        <input type="date" formControlName="Fecha" class="form-control" placeholder="Fecha" style="color: #000000; background-color: transparent; border: none; font-size: 100%;">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">  
            <div class="container d-flex justify-content-center">
                <div class="d-flex align-items-center" style="gap: 20px;"> <!-- Aumento el gap aquí -->
                    <!-- Ícono -->
                    <i class="fa-solid fa-phone" style="color: white; font-size: 40px;"></i>

                    <!-- Input -->
                    <div class="p-2" style="margin-right: 40px ;background-color: #84b1ec; border-radius: 30px;">
                        <input type="tel" formControlName="Telefono" class="form-control" placeholder="Telefono" style="color: #000000; background-color: transparent; border: none; font-size: 100%;">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">  
            <div class="container d-flex justify-content-center">
                <div class="d-flex align-items-center" style="gap: 20px;"> <!-- Aumento el gap aquí -->
                    <!-- Ícono -->
                    <i class="fa-solid fa-lock" style="color: white; font-size: 40px;"></i>

                    <!-- Input -->
                    <div class="p-2" style="margin-right: 40px ;background-color: #84b1ec; border-radius: 30px;">
                        <input type="password" formControlName="password" class="form-control" placeholder="Contraseña" style="color: #000000; background-color: transparent; border: none;">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">  
            <div class="container d-flex justify-content-center">
                <div class="d-flex align-items-center" style="gap: 20px;"> <!-- Aumento el gap aquí -->
                    <!-- Ícono -->
                    <i class="fa-solid fa-lock" style="color: white; font-size: 40px;"></i>

                    <!-- Input -->
                    <div class="p-2" style="margin-right: 40px ;background-color: #84b1ec; border-radius: 30px;">
                        <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirmar Contraseña" style="color: #000000; background-color: transparent; border: none;">
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<div class="container d-flex justify-content-center mt-5">
    <div class="row justify-content-center">
        <div class="col-12 text-center">   
            <button type="button" (click)="submit()" thref="#" class="register-btn">Registrarse</button>   
        </div>
    </div>
</div>

<app-redes-sociales></app-redes-sociales>