<app-nav></app-nav>

<div class="container-fluid" style="margin-top: 5%;">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-4 d-flex justify-content-center">
            <img src="{{user.imagen}}" alt="Usuario" class="user-photo">    
        </div>
        <div class="col-12 col-md-8">
            <div class="details-section">
                <!-- Datos Personales -->
                <div class="section-header">
                    <h2>Datos Personales</h2>
                </div>
                <p><strong>Nombre:</strong> {{user.nombre_completo}}</p>
                <p><strong>DNI:</strong> {{user.dni}}</p>
                <p><strong>Dirección:</strong> {{user.direccion}}</p>
                <p><strong>Teléfono:</strong> {{user.telefono}}</p>
                <p><strong>Email:</strong> {{user.email}}</p>
                <!-- Detalles del Préstamo -->
                <div class="section-header">
                    <h2>Préstamos</h2>
                </div>
                <div *ngFor="let prestamo of arrayPrestamos" class="mb-3">
                    <p><strong>Título:</strong> {{prestamo.libro.titulo}}</p>
                    <p><strong>Autor:</strong> {{prestamo.libro.autor[0].nombre_completo}}</p>
                    <p><strong>Descripción:</strong> {{prestamo.libro.descripcion}}</p>
                    <p><strong>Año:</strong> {{prestamo.libro.anio_de_publicacion}}</p>
                    <p><strong>Fecha de Pedido:</strong> {{prestamo.fecha_de_entrega}}</p>
                    <p><strong>Fecha de Devolución:</strong> {{prestamo.fecha_de_vencimiento}}</p>
                    <p><strong>Estado:</strong> {{prestamo.estado}}</p>
                    <p>--------------------------------------------------------</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-4 col-md-1">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal" style="color: white; width: 100px; height: 64px;">Editar</button>
        </div>
        <div class="col-1"></div>
        <div class="col-4 col-md-1">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal" style="color: white; width: 100px; height: 64px;">Eliminar</button>
        </div>
    </div>
    <div class="modal" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">Editar Prestamos</h5>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="onSubmitUpdate()">
                <div class="form-group">
                  <label for="titulo">Prestamo a modificar</label>
                  <select class="form-control" id="titulo" [(ngModel)]="loan.id_prestamo" name="titulo">
                    <option *ngFor="let option of loanOptions" [value]="option.value">{{ option.label }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="fechaEntrega">Fecha de entrega</label>
                  <input type="text" class="form-control" id="fechaEntrega" [(ngModel)]="loan.fecha_de_entrega" name="fechaEntrega" placeholder="dd-mm-YYYYY">
                </div>
                <div class="form-group">
                  <label for="fechaVencimiento">Fecha de vencimiento</label>
                  <input type="text" class="form-control" id="fechaVencimiento" [(ngModel)]="loan.fecha_de_vencimiento" name="fechaVencimiento" placeholder="dd-mm-YYYYY">
                </div>
                <div class="form-group">
                  <label for="estado">Estado</label>
                  <select class="form-control" id="estado" [(ngModel)]="loan.estado" name="estado">
                    <option *ngFor="let option of stateOptions" [value]="option.value">{{ option.label }}</option>
                  </select>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary" (click)="onSubmitUpdate()">Guardar cambios</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Eliminar Prestamo</h5>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="onSubmitDelete()">
                <div class="form-group">
                  <label for="numeroPrestamo">Prestamo a eliminar</label>
                  <!--<input type="number" class="form-control" id="numeroPrestamo" [(ngModel)]="loan.numeroPrestamo" name="numeroPrestamo" placeholder="Número del prestamo (1-3)">-->
                  <select class="form-control" id="deletePrestamo" [(ngModel)]="loan.id_prestamo" name="titulo">
                    <option *ngFor="let option of loanOptions" [value]="option.value">{{ option.label }}</option>
                  </select>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary" (click)="onSubmitDelete()">Guardar cambios</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
</div>
