
<div *ngIf="var_rol == 'user-s'">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="alert-container margin-top: 15%">
                    <div class="notification-icon">
                        <i class="fa-solid fa-bell"></i>
                    </div>
                    <h2><strong>¡No tienes prestamos pendientes!</strong></h2>
                    <a href="../bootstrap/catalogo_usuario.html" class="button-primary button" style = "background-color: #483fa9;">¡Agregá uno!</a>
                </div>
            </div>
        </div>
    </div>
</div>



<div *ngIf="var_rol == ''">
    <div class="alert-container">
        <div class="notification-icon">
            <i class="fa-solid fa-bell" style="color: yellow; font-size: 170%;"></i>
        </div>
        <h2><strong> Para pedir un préstamo debes estar registrado</strong></h2>
        <a href="#" class="button-primary button" style = "background-color: #483fa9;" routerLink="/register">Registrar</a>
    </div>
</div>