
<div class="user-card text-black text-center background-transparent mb-3" style=" margin-top: 5%;;">
    <div class="row g-0" style ="margin-top: 5%; margin-bottom: 5%">
        <div class="col-4">
            <img src="assets/ian.jpeg" class="user-photo" alt="Usuario">
        </div>
        <div class="col-8">
            <div class="user-card-body" style="padding: 5%; background-color: white; border-color: #483fa9 ; border-radius: 5%; ">
                <h5 class="user-card-title">Ian Olmedo</h5>
                <p class="user-card-text">DNI: 45929290</p>
                <p class="user-card-text">Préstamos: 3</p>
                <p class="user-card-text">Préstamos Vencidos: 0</p>
                <a href="../bootstrap/info_detalles.html" class="button-primary button" style = "background-color: #483fa9;">Ver más</a>
            </div>
        </div>
    </div>
</div>

<div class="user-card text-black text-center background-transparent mb-3" style=" margin-top: 5%; ;">
    <div class="row g-0" style ="margin-top: 5%; margin-bottom: 5%">
        <div class="col-4">
            <img src="assets/reynier.jpeg" class="user-photo" alt="Usuario">
        </div>
        <div class="col-8">
            <div class="user-card-body" style="padding: 5%; background-color: white; border-color: #483fa9 ; border-radius: 5%; ">
                <h5 class="user-card-title">Reynier Lopez</h5>
                <p class="user-card-text">DNI:23004277</p>
                <p class="user-card-text">Préstamos: 2</p>
                <p class="user-card-text">Préstamos Vencidos: 1</p>
                <a href="../bootstrap/info_detalles.html" class="button-primary button" style = "background-color: #483fa9;">Ver más</a>
            </div>
        </div>
    </div>
</div>

<div class="user-card text-black text-center background-transparent mb-3" style=" margin-top: 5%;">
    <div class="row g-0" style ="margin-top: 5%; margin-bottom: 5%">
        <div class="col-4">
            <img src="assets/Martin.jpg" class="user-photo" alt="Usuario">
        </div>
        <div class="col-8">
            <div class="user-card-body" style="padding: 5%; background-color: white; border-color: #483fa9 ; border-radius: 5%; ">
                <h5 class="user-card-title">Martin Navarro</h5>
                <p class="user-card-text">DNI: 43778265</p>
                <p class="user-card-text">Préstamos: 1</p>
                <p class="user-card-text">Préstamos Vencidos: 1</p>
                <a href="../bootstrap/info_detalles.html" class="button-primary button" style = "background-color: #483fa9;">Ver más</a>
            </div>
        </div>
    </div>
</div>

<div class="user-card text-black text-center background-transparent mb-3" style=" margin-top: 5%;">
    <div class="row g-0" style ="margin-top: 5%; margin-bottom: 5%">
        <div class="col-4">
            <img src="assets/cami2.jpeg" class="user-photo" alt="Usuario">
        </div>
        <div class="col-8">
            <div class="user-card-body" style="padding: 5%; background-color: white; border-color: #483fa9 ; border-radius: 5%; ">
                <h5 class="user-card-title">Camila Choque</h5>
                <p class="user-card-text">DNI: 46992832</p>
                <p class="user-card-text">Préstamos: 0</p>
                <p class="user-card-text">Préstamos Vencidos: 5</p>
                <a href="../bootstrap/info_detalles.html" class="button-primary button" style = "background-color: #483fa9;">Ver más</a>
            </div>
        </div>
    </div>
</div>

<div class="user-card text-black text-center background-transparent mb-3" style=" margin-top: 5%;">
    <div class="row g-0" style ="margin-top: 5%; margin-bottom: 5%">
        <div class="col-4">
            <img src="assets/luchi.jpeg" class="user-photo" alt="Usuario">
        </div>
        <div class="col-8">
            <div class="user-card-body" style="padding: 5%; background-color: white; border-color: #483fa9 ; border-radius: 5%; ">
                <h5 class="user-card-title">Luciano Toneatti</h5>
                <p class="user-card-text">DNI: 45729932</p>
                <p class="user-card-text">Préstamos: 1</p>
                <p class="user-card-text">Préstamos Vencidos: 1</p>
                <a href="../bootstrap/info_detalles.html" class="button-primary button" style = "background-color: #483fa9;">Ver más</a>
            </div>
        </div>
    </div>
</div>
