<app-nav></app-nav>

<!-- Información del Usuario -->
 
<div class="container text-center text-white my-4 profile-container">
    <div class="row justify-content-center">
        <div class="col-2"></div>
        <div class="col-8 justify-content-center">
            <img src="/assets/Logo-usuario.jpeg" alt="Usuario" class="rounded-circle" style="width: 80px; height: 80px; z-index: 1;">
            <div class="circle-plus-usuario" data-bs-toggle="modal" data-bs-target="#addImageModal" style="z-index: 10;">+</div>
        </div>
        <div class="col-2"></div>
    </div>
    <h4 *ngIf="isUser" class="mt-3">Información del Usuario</h4>
    <h4 *ngIf="isAdmin" class="mt-3">Información del Administrador</h4>
</div>

<!-- Modal para agregar imagen -->
<div class="modal fade" id="addImageModal" tabindex="-1" aria-labelledby="addImageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addImageModalLabel">Agregar Imagen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (submit)="onSubmit()">
                    <div class="mb-3">
                        <label for="imageInput" class="form-label">Seleccionar Imagen</label>
                        <input type="file" class="form-control" id="imageInput" (change)="onFileSelected($event)">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Guardar Imagen</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Confirmar contraseña-->
<div class="modal fade" id="confirmPasswordModal" tabindex="-1" aria-labelledby="confirmPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmPasswordModalLabel">Cambiar Contraseña</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onSubmitPassword()" [formGroup]="passwordForm">
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label">Ingrese su contraseña actual</label>
                        <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword">
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">Ingrese su nueva contraseña</label>
                        <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirme su nueva contraseña</label>
                        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Confirmar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Formulario de datos de usuario -->
<div class="container profile-container text-white">
    <form>
        <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
            <div class="mb-3">
                <label for="nombre_completo" class="form-label" style="color: white;">Nombre Completo</label>
                <input type="text" class="form-control" style="color: black" id="nombre_completo" formControlName="nombre_completo" placeholder="Nombre completo">
            </div>
            <div class="mb-3">
                <label for="direccion" class="form-label" style="color: white">Dirección</label>
                <input type="text" class="form-control" style="color: black" id="direccion" formControlName="direccion" placeholder="Direccion">
            </div>
            <div class="mb-3">
                <label for="dni" class="form-label" style="color: white">DNI</label>
                <input type="text" class="form-control" style="color: black" id="dni" formControlName="dni" placeholder="DNI">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label" style="color: white">Email</label>
                <input type="email" class="form-control" style="color: black" id="email" formControlName="email" placeholder="Email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label" style="color: white">Contraseña actual (Necesaria para actualizar datos)</label>
                <input type="password" class="form-control" style="color: black" id="password" formControlName="password" placeholder="Contraseña">
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label" style="color: white">Telefono</label>
                <input type="text" class="form-control" style="color: black" id="telefono" formControlName="telefono" placeholder="Telefono">
            </div>
        </form>

        <!-- Botones -->
        <div class="text-center">
            <!-- Botón para alternar entre modo de edición y guardado -->
             <!--
            <button type="button" class="btn save-btn" (click)="editMode ? onSubmit() : toggleEditMode()">
                {{ editMode ? 'Guardar Datos' : 'Editar Datos' }}
            </button>
            -->
            <button type="button" class="btn save-btn" (click)="onSubmit()">Guardar datos</button>
            <button type="button" class="btn save-btn" data-bs-toggle="modal" data-bs-target="#confirmPasswordModal">Cambiar contraseña</button>
        </div>
    </form>
</div>