.circle-plus-usuario {
    position: relative;
    top: -100px; /* Distancia desde el borde superior */
    right: 10px; /* Distancia desde el borde derecho */
    left: 570px;
    width: 40px; /* Tamaño del botón */
    height: 40px;
    background-color: #483FA9;
    border-radius: 50%; /* Hace el ícono circular */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; /* Ajusta el tamaño del texto del ícono */
    color: white;
    font-weight: bold;
    cursor: pointer;
    z-index: 10; /* Asegura que esté por encima de la imagen */
}

.circle-plus-usuario:hover {
    background-color: #b589ff; /* Cambia el color al hacer hover */
}

.btn-primary {
    background-color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.save-btn {
    border: 2px solid rgb(483FA9);
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #483FA9;
    font-weight: bold;
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease;
}
.save-btn:hover {
    background-color: #b589ff;
    color: #ffffff;
}
