<app-nav></app-nav>

<app-search-bar (searchQueryChange)="onSearchQueryChange($event)"></app-search-bar>

<app-prestamos-user [arrayPrestamosWithDetails]="prestamos" *ngIf="isToken && isUser"></app-prestamos-user>

<app-prestamos-admin [arrayPrestamosWithDetails]="prestamos" *ngIf="isToken && isAdmin"> </app-prestamos-admin>

<div *ngIf="!isToken">
    <div class="alert-container">
        <div class="notification-icon">
            <i class="fa-solid fa-bell" style="color: yellow; font-size: 170%;"></i>
        </div>
        <h2><strong> Para pedir un préstamo debes estar registrado</strong></h2>
        <a href="#" class="button-primary button" style = "background-color: #483fa9;" routerLink="/register">Registrar</a>
    </div>
</div> 
