<app-nav [var_rol]="var_rol" [var_id]="var_id"></app-nav>
<app-search-bar [buscar]="buscar"></app-search-bar>
<!--Admin
<app-prestamos-admin *ngIf="isAdmin"></app-prestamos-admin>
-->
<!--User
<app-prestamos-user *ngIf="isUser"></app-prestamos-user>
-->
<!-- No se puede hacer por ahora
<app-prestamos-user [filteredPrestamos]="filteredPrestamos"></app-prestamos-user>
-->

<app-prestamos-admin [filteredPrestamos]="filteredPrestamos" [arrayUsers]="arrayUsers" [arrayBooks]="arrayBooks"> </app-prestamos-admin>

<div *ngIf="!isToken">
    <div class="alert-container">
        <div class="notification-icon">
            <i class="fa-solid fa-bell" style="color: yellow; font-size: 170%;"></i>
        </div>
        <h2><strong> Para pedir un préstamo debes estar registrado</strong></h2>
        <a href="#" class="button-primary button" style = "background-color: #483fa9;" routerLink="/register">Registrar</a>
    </div>
</div> 
