<app-nav></app-nav>

<app-search-bar *ngIf="isToken && (isAdmin || isBiblo)" (searchQueryChange)="searchQueryChange($event)"></app-search-bar>

<app-prestamos-user *ngIf="isToken && isUser"></app-prestamos-user>

<app-prestamos-admin [searchQuery]="searchQuery" *ngIf="isToken && (isAdmin || isBiblo)"> </app-prestamos-admin>

<div class="row d-flex justify-content-center">
    <div class="col-2"></div>
    <div class="col-8 d-flex justify-content-center" *ngIf="!isToken">
        <div class="alert-container">
            <div class="notification-icon">
                <i class="fa-solid fa-bell" style="color: rgb(218, 218, 59); font-size: 170%; z-index: 10;"></i>
            </div>
            <h2><strong> Para pedir un préstamo debes estar registrado</strong></h2>
            <a href="#" class="button-primary button" style = "background-color: #483fa9;" routerLink="/register">Registrar</a>
        </div>
    </div>
    <div class="col-2"></div>
</div>
